:root{
	/* color palette */
    --bgRed: #b5262686;
    --red: #A40D0E;
    --darkRed: #7A0A0B;
    --navy: #01304A;
    --lightBlue: #679CBC;
    --grey: #51545A;
    --white: #F8F8F8;
    --cream: #FDF0D5;
}